.plu-img-style {
    border:none !important;
    background-color: transparent !important;
    box-shadow: none !important;    
    height:40px;  
}

.plu-avatar {
	vertical-align: top;
	width: 170px;
	height: 150px;
	border-radius: 50%;
}

.plu-black-box {
    box-shadow: 0 1px 4px rgba(0,0,0,0), 0 5px 25px rgba(0,0,0,0.2);
    background-color: rgba(0, 0, 0, 0.8);
	border-top-left-radius : 30px;
	border-bottom-left-radius : 30px;
	border-top-right-radius : 30px;
	border-bottom-right-radius : 30px;
    padding: 30px;       
}

.plu-white-box {
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 1px 4px rgba(0,0,0,0.5), 0 5px 25px rgba(0,0,0,0.2);
    background-color: rgba(280, 270, 270, 5.0); 
    color: black; 
    margin-top: 0;
}
