.dsa-black-box {
    box-shadow: 0 1px 4px rgba(0,0,0,0.5), 0 5px 25px rgba(0,0,0,0.2);
    background-color: rgba(0, 0, 0, 0.9);
    padding: 25px;        
}

.dsa-rm-img-style {
    border:none !important;
    background-color: transparent !important;
    box-shadow: none !important;      
}

.dsa-header-box {
    box-shadow: 0 1px 4px rgba(0,0,0,0.5), 0 5px 25px rgba(0,0,0,0.2);
    background-color: rgba(0, 0, 0, 0.9);
    margin-bottom: 25px;
    padding: 5px 25px;
    font-size: 30px;
}

.dsa-column {
    float: left;
    width: 50%;
  }
  
/* Clear floats after the columns */
.dsa-row:after {
    content: "";
    display: table;
    clear: both;
}